@font-face {
	font-family: oldlondon;
	src: url('OldLondon.ttf');
}

body {
    background-color: #FFFFCC;
    color: #484811;
    font-size: 20px;
}

h1 {
    font-family: oldlondon;
}

h1,h3 {
    text-align: center;
}

#menu,#leaderboard,#signup,#update,#info,.topic {
    margin: 20px 0px 20px 0px;
    text-align: center;
    width: 100%;
}

.menuoption {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

table {
    margin: 0 auto;
}

td {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    width: 50px;
    text-align: center;
}

/* For the 'name' column, mostly. */
.wide {
    width: 150px;
}

#signupform,#updateform {
    margin: 0 auto;
}

.formdiv {
    margin: 5px;
    padding: 5px;
}

input {
    padding: 10px;
    background-color: #CCAA88;
    color: #140808;
    border: 0px;
    border-radius: 5px;
    border-style: none;
    width: 150px;
}

#submitbutton:hover {
    background-color: #884411;
}

label {
    display: block;
}

.warning {
    color: red;
}
